
html, body{ 
    font-size: 12px; 
}
// pl-table
body ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(144, 147, 153, 0.5);
}
.el-table__empty-block {
    height: 100%;
}

.scroll-box-style::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

.scroll-box-style::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.scroll-box-style::-webkit-scrollbar-thumb {
    background: #D9DCE3;
    border-radius: 10px;
}
.el-dropdown-menu::-webkit-scrollbar  
{  
    width: 8px;    
    background-color: #fff;  
}  

.el-dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

.el-dropdown-menu::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.el-dropdown-menu::-webkit-scrollbar-thumb {
    background: #D9DCE3;
    border-radius: 10px;
}
.el-table__fixed-right-patch {
    background-color: rgb(238, 241, 246);
}
// .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar  
// {  
//     width: 8px;    
//     background-color: #fff;  
// }  

// .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {
//     width: 8px;
//     background-color: #ffffff;
// }

// .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track {
//     background-color: #ffffff;
// }

// .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {
//     background: #D9DCE3;
//     border-radius: 10px;
// }

.iconfont{
    font-size: 16px;
}
/* transition */
.trans-all-1{
    transition: all .1s ease-in-out;
}
.trans-all-2{
    transition: all .2s ease-in-out;
}
.trans-all-3{
    transition: all .3s ease-in-out;
}
.trans-all-4{
    transition: all .4s ease-in-out;
}
.trans-all-5{
    transition: all .5s ease-in-out;
}

a[title=站长统计]{
    display: none;
}

.fr {
    float: right;
}
  
.fl {
    float: left;
}
  
.block {
    display: block;
}
  
.pointer {
    cursor: pointer;
}
.icon-renderer-fit {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    background-position: center;
}

.flex-between {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.flex-start {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}
.flex-center {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.flex-around {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.center {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontsize {
    font-size: 12px;
}
.dis{
    display: none;
}

// el-popover
.popper-class-new {
    min-width: 120px;
    margin-top: 0!important; 
    margin-bottom: 5px!important; 
    padding-left: 0;
    padding-right: 0;
}
.mes-box-zindex{
    z-index: 5000 !important; 
}
// // 页面样式 这个样式会导致打开很多tab时，会出现上移问题
// .router-tab__iframes{
//     height: calc(100vh - 90px);
// }
.wrapper {
    // margin: 0 15px;
    overflow-y: auto;
    text-align: left;
    padding: 15px 20px 0;
    background: #fff;
    // height: calc(100vh - 115px);
    height: calc(100vh - 90px);
    position: relative;
    color: #64676A;
    .search-list-input {
        .el-form-item__label {
            text-align: right;
            vertical-align: middle;
            float: left;
            font-size: 12px;
            color: #606266;
            line-height: 28px;
            padding: 0 5px 0 0;
            box-sizing: border-box;
        }
    }
}
.pagination-wrap{
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.el-form-item__label {
    font-size: 12px;
}
.el-image-viewer__wrapper {
    z-index: 3000!important;
}
.el-table .cell.el-tooltip.pl-table-beyond {
    position: relative!important;
    z-index: 4000!important;
    // span {
    //     position: relative!important;
    //     z-index: 3000!important;
    // }
}
// 详情title 有背景色
.detail-bg-tit{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(242, 242, 242, 1);
    // background: #d3dce6;
    // border-bottom: 1px solid #DCDFE6; 
}

// 多级联动

// .el-input--mini {
    // .el-input__icon {
    //     height: 28px!important;
    //     line-height: 28px!important;
    // }
    // .el-input__inner{
    //     line-height: 1px!important;
    // }
// }
.el-cascader-panel {
    // height: 240px;
}
// 剧组下拉-暂无数据
.drop-no-data{
    color: #C0C4CC;
}
// 放大照片
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
.el-image-viewer__close {
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 70px);
    font-size: 40px;
    background: none;
    .el-icon-circle-close {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    opacity: 0;
}
.table-img-wrap {
    .image-slot {
        background-color: #eee;
        height: 26px;
        line-height: 26px;
        text-align: center;
    }
}
.el-date-editor .el-range-separator {
    width: 24px;
}
.content-wrap {
    .el-upload-list--picture-card .el-upload-list__item-actions {
        position: absolute;
        width: 100%;
        height: 30%;
        left: 0;
        top: 70%;
        cursor: default;
        text-align: center;
        color: #fff;
        opacity: 1;
        font-size: 16px;
        background-color: rgba(0,0,0,.5);
        transition: opacity .3s;
    }
    .el-upload-list--picture-card .el-upload-list__item-actions span {
        display: block;
        cursor: pointer;
    }
}
.el-upload--picture-card {
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.el-upload-list--picture-card .el-upload-list__item {
    width: 100px;
    height: 100px;
}
// 表格
.el-table td {
    padding: 4px 0;
    font-size: 12px;
}
.el-table th {
    padding: 8px 0;
    font-size: 12px;
}
.el-table th>.cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-right: 5px;
    padding-left: 5px;
}
.el-table .warning-row {
    background: oldlace;
}
.el-table .success-row {
    background: #f0f9eb;
}
.el-table .info-row {
    background: #b3d8ff;
}
.el-table .focus-row {
    background: #ecf5ff;
}
.dis{
    display: none;
}
.color-blue{
    color: #409EFF;
}
// 分页样式
.el-pagination__editor.el-input{
    width: 50px;
}
.el-pagination .el-select .el-input{
    width: 100px;
    margin: 0 5px;
}
// 时间轴样式修改
.el-timeline-item{
    padding-bottom: 8px;
}
// 菜单样式修改
.el-menu-item, .el-submenu__title{
    height: 48px;
    line-height: 48px;
}
.el-submenu .el-menu-item{
    height: 42px;
    line-height: 42px;
}
.router-tab__item,
.el-menu-item,
.el-submenu__title{
    font-size: 13px;
}
// 页面tab样式
.router-tab__header,
.router-tab__scroll{
    height: 36px;

}
// 禁止点击
.no-click{
    pointer-events: none !important;
}
.cell-active{
    color: #409EFF;
}
.cell-active:hover{
    opacity: 0.9;
}
.cell-active-green{
    color: #67C23A;
}
.cell-active-red{
    color: #F56C6C;
}
// 弹框样式
.el-dialog{
    margin-top: 9vh !important;
    .el-dialog__header{
        font-size: 14px;
    }
    // 弹框-线
    .el-dialog__body {
        max-height: 68vh;
        overflow: auto;
        padding: 20px;
        border-top: 1px solid #E8E8E8;
        .el-date-editor.el-input,
        .el-cascader,
        .el-select{
            width: 100%;
        }
    }
}
.el-dropdown-menu{
    max-height: 600px;
    overflow-y: auto;
}
// 弹框审批流
.dialog-workflow-template-wrap{
    padding-top: 10px;
    margin: 10px 0 10px;
    border-top: 1px solid #DCDFE6;
    border-bottom: 1px solid #DCDFE6;
    .workflow-tit{
        padding-right: 10px;
        line-height: 28px;
    }
}
/*媒体查询*/
@media screen and (min-width:1602px) {
    .left-box-width{
        width: 300px;
    }
    .el-loading-spinner .circular{
        height: 80px;
        width: 80px;
    }
    .el-loading-mask.is-fullscreen .el-loading-spinner .circular{
        height: 80px;
        width: 80px;
    }
    .login-has-bg-wrap .login-lt-wrap .login-lt-subtitle-wrap h4{
        font-size: 38px;
    }
}
@media screen and (min-width:1440px) and (max-width:1602px) {
    .left-box-width{
        width: 260px;
    }
    .el-loading-spinner .circular{
        height: 70px;
        width: 70px;
    }
    .el-loading-mask.is-fullscreen .el-loading-spinner .circular{
        height: 70px;
        width: 70px;
    }
    .login-has-bg-wrap .login-lt-wrap .login-lt-subtitle-wrap h4{
        font-size: 32px;
    }
}
@media screen and (min-width:1366px) and (max-width:1440px) {
    .left-box-width{
        width: 220px;
    }
    .login-has-bg-wrap .login-lt-wrap .login-lt-subtitle-wrap h4{
        font-size: 28px;
    }
}
@media screen and (min-width:1024px) and (max-width:1366px) {
    .left-box-width{
        width: 200px;
    }
    .login-has-bg-wrap .login-lt-wrap .login-lt-subtitle-wrap h4{
        font-size: 28px;
    }
}
@media screen and (max-width: 1024px) {
    .left-box-width{
        width: 180px;
    }
    .login-has-bg-wrap .login-lt-wrap .login-lt-subtitle-wrap h4{
        font-size: 18px;
    }
}